<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings>

<!--             
<add name="DatabaseConnectionString"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFFQA;UID=cffqa;PWD=Password!"/>

<add name="DatabaseConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=10.10.25.29;Initial Catalog=CFF;UID=8585CFFFFC1598997;PWD=d5Dd5e%585g9hYpr"/>

<add name="DatabaseConnectionString"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=10.10.25.29;Initial Catalog=MartTest;UID=8585CFFFFC1598997;PWD=d5Dd5e%585g9hYpr"/>
       
<add name="DatabaseConnectionString"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=10.10.25.29;Initial Catalog=CFFParallel;UID=8585CFFFFC1598997;PWD=d5Dd5e%585g9hYpr"/>
-->
  <!--<add name="DatabaseConnectionString"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFFParallel;UID=cffqa;PWD=Password!" />-->

  <!--<add name="DatabaseConnectionString"
            providerName="System.Data.SqlClient"
            connectionString=" Data Source=CF-103869\SS2012STD;Initial Catalog=CFF;UID=SysTestCff;PWD=Password01"/>-->
  
<!--<add name="DatabaseConnectionString"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=MYOBTest;UID=myob;PWD=Password!" />

  <add name="DatabaseConnectionString"
          providerName="System.Data.SqlClient"
       connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFFQA;UID=cffqa;PWD=Password!"/>-->

  <add name="DatabaseConnectionString"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFF;UID=browser;PWD=Password1" />  
  
</connectionStrings>