<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<add name="DatabaseConnectionString"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=10.10.25.29;Initial Catalog=CFF;User ID=browser;PASSWORD=Xtk1!2@34o5K6" xdt:Transform="Replace" xdt:Locator="Match(name)"   
  />-->

  <add name="DatabaseConnectionString"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFF;UID=browser;PWD=Password1" />
  
</connectionStrings>