<connectionStrings>
    <add name="DatabaseConnectionString" 
            providerName="System.Data.SqlClient"
      connectionString="Data Source=10.10.25.30\MSSQL2012;Initial Catalog=CFF;UID=browser;PWD=Password1" />

    <!--
    <add name="DatabaseConnectionString"
        providerName="System.Data.SqlClient"
            connectionString="Data Source=CF-103869\SS2012;Initial Catalog=CFF;UID=SysTestCff;PWD=Password01" />
    -->
</connectionStrings>
