<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cff.SaferTrader.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TemplatesFilePathRecs" value="D:\SourceNewOxml\Docs\Recs\" />
    <add key="TemplatesFilePathCustomer" value="D:\SourceNewOxml\Docs\Customer\" />
    <add key="TemplatesFilePathClient" value="D:\SourceNewOxml\Docs\Client\" />
    <add key="TemplatesFilePathClientLetterHeads" value="D:\SourceNewOxml\Docs\Client\LetterHeads\" />
    <add key="ReportsFolder" value="D:\Reportfiles\" />
    <add key="TestMode" value="false" />
    <add key="adminEMail" value="webadmin@factor.co.nz" />
    <add key="spamFolder" value="spam@factor.co.nz" />
    <add key="credEUser" value="Dale Barraca" />
    <add key="credEPwd" value="Password!" />
    <add key="thisHostIP" value="10.10.25.30" />
    <add key="ftpFolder" value="D:\FTP\" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
  </runtime>
  <connectionStrings configSource="connectionStrings.config" />
  <applicationSettings>
    <Cff.SaferTrader.Core.Properties.Settings>
      <setting name="BatchDetailsPage" serializeAs="String">
        <value>InvoiceBatches.aspx</value>
      </setting>
      <setting name="DashboardPage" serializeAs="String">
        <value>Dashboard.aspx</value>
      </setting>
      <setting name="NumberOfClientsToReturn" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NumberOfCustomersToReturn" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TransactionSearchPage" serializeAs="String">
        <value>TransactionSearch.aspx</value>
      </setting>
    </Cff.SaferTrader.Core.Properties.Settings>
  </applicationSettings>
  
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
  <system.web>
    
  
    <sessionState timeout="1000" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    
    <httpHandlers>
      <!-- <add verb="*" path="jslib.axd" type="Miron.Web.MbCompression.JavaScriptCompressionHandler, MbCompression" validate="false"/>
      <add verb="*" path="css.axd" type="Miron.Web.MbCompression.CssCompressionHandler, MbCompression" validate="false"/> -->
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false" />
    </httpHandlers>
    
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!-- add name="WebResourceCompressionModule" type="Cff.SaferTrader.Web.CompressionModule, Cff.SaferTrader.Web"/>
       <add name="MbCompressionModule" type="Miron.Web.MbCompression.MbCompressionModule, MbCompression"/>
      <add name="WebResourceCompressionModule" type="Miron.Web.MbCompression.WebResourceCompressionModule, MbCompression"/> 
      -->
    </httpModules>
   
    <authentication mode="Forms">
      <forms loginUrl="LogOn.aspx" name=".ASPXFORMSAUTH" timeout="60" defaultUrl="~/Dashboard.aspx" slidingExpiration="true" />
    </authentication>
    
    <!-- Only allow authenticated user to site, reports restricted in next section -->
    <authorization>
      <deny users="?" />
    </authorization>
    
   <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DatabaseConnectionString" applicationName="DebtorManagement" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="DatabaseConnectionString" applicationName="DebtorManagement" />
      </providers>
    </roleManager>
    
    <httpRuntime maxRequestLength="2097151" /> 
    
    <!-- Need this to run word-->
    <!--identity impersonate="true" userName="mariper@cff.local" password="Password!"></identity-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

   <!-- Need this for web services -->
   <webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
  </system.web>
    
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" />
    </defaultProxy>
    <mailSettings>
      <smtp from="webadmin@factor.co.nz">
        <network host="cfexch1.cff.local" port="25" password="~Myf4ct-0r5!" userName="webadmin" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Allow everyone to check the agreement page -->
  <location path="AgreementPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- END -->
  <!-- Allow for special account -->
  <location path="LettersPopup.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- END -->
  <!-- Allow for special account -->
  <location path="AccountToAccess.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- END -->
  <location path="InvoiceBatches.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="RetentionSchedules.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="ClientAutoCompleteHelper.asmx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
        <deny roles="Client - Staff" />
        <deny roles="Client - Management" />
        <allow roles="Administrator" />
        <allow roles="Management" />
        <allow roles="Staff" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomerAutoCompleteHelper.asmx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
        <allow roles="Client - Staff" />
        <allow roles="Client - Management" />
        <allow roles="Administrator" />
        <allow roles="Management" />
        <allow roles="Staff" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Control.aspx">
    <system.web>
      <authorization>
        <deny roles="Client - Staff" />
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/AgedBalances.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/OverdueCharges.aspx">
    <system.web>
      <authorization>
        <deny roles="Client - Staff" />
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Prompt.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Status.aspx">
    <system.web>
      <authorization>
        <deny roles="Client - Staff" />
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/UnclaimedCreditNotes.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/UnclaimedRepurchases.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/RetentionReleaseEstimate.aspx">
    <system.web>
      <authorization>
        <deny roles="Client - Staff" />
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/CreditLimitExceeded.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/CallsDue.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/ClientAction.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/CustomerWatch.aspx">
    <system.web>
      <authorization>
        <deny roles="Client - Staff" />
        <deny roles="Client - Management" />
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Repurchases.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/CurrentShortPaid.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/CurrentOverpaid.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Unallocated.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports/Overpayments.aspx">
    <system.web>
      <authorization>
        <deny roles="Customer" />
      </authorization>
    </system.web>
  </location>
  <location path="EndSession.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <log4net>
    <root />
    <logger name="Cff.SaferTrader.Logger">
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Cff.DebtorManagement.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread:%level] %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Dashboard.aspx" />
      </files>
    </defaultDocument>
    <!-- if the WebServer is using IIS 7.0 then suggest to disable the doDynamicCompression, if IIS 7.5 then enable it-->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <!-- expiraton for the static resource such as image, css, etc. is 6months = 182 days-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="182.00:00:00" />
    </staticContent>
    <!-- <handlers>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="ScriptResourceHandler" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode"/>
      <add name="JsHandler" verb="*" path="jslib.axd" type="Miron.Web.MbCompression.JavaScriptCompressionHandler, MbCompression" preCondition="integratedMode"/>
      <add name="CssHandler" verb="*" path="css.axd" type="Miron.Web.MbCompression.CssCompressionHandler, MbCompression" preCondition="integratedMode"/>
    </handlers>
    <modules>
      <add name="WebResourceCompressionModule" type="Miron.Web.MbCompression.WebResourceCompressionModule, MbCompression"/>
      <add name="MbCompressionModule" type="Miron.Web.MbCompression.MbCompressionModule, MbCompression"/>
    </modules> -->
    <httpProtocol>
      <customHeaders>
        <remove name="Vary" />
        <add name="Vary" value="Accept-Encoding" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
     </security>
  </system.webServer>  
</configuration>

